[user]
	email = ndbaker1@outlook.com
	name = Nick Baker
[core]
	autocrlf = input
	safecrlf = true
[alias]
	c = commit
	s = status
[pull]
	ff = only
[push]
	default = simple
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[github]
	user = ndbaker1
